.site-footer {
    color: #ffffff;
    background: $color__secondary;

    .widget-title {
        color: $color__primary;
        font-size: 2.5em;
        font-weight: 900;
        text-align: center;
    }
}